<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330791126625-vprhop6ql1911cjnrg5mlfk120erm7nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330791126625-vprhop6ql1911cjnrg5mlfk120erm7nj</string>
	<key>API_KEY</key>
	<string>AIzaSyC-C5NDKM7bq9WnLMQRhzPbN9g7nUKM4G8</string>
	<key>GCM_SENDER_ID</key>
	<string>330791126625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agrimetal.yorimich</string>
	<key>PROJECT_ID</key>
	<string>my-app-94296</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-94296.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330791126625:ios:1d119eebb7f03cc9b94c20</string>
</dict>
</plist>